:root {
    --azul-oscuro: #003b95;
    --azul-medio: #0753c488;
    --azul-claro: #0753c4f1;
    --blanco: #ffff;
    --gray: rgb(68, 68, 68);
    --swiper-navigation-size: 40px;
}

body{
    padding-top: 0px;
    margin: 0;
}

a {
    text-decoration: none; 
}

.contenedor {
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
}

.contenedor-car {
    padding-right: 98px;
    padding-left: 98px;
    margin-right: auto;
    margin-left: auto;
}

/*home*/

.swiper-slide.car {
    flex-shrink: 0;
    width: 264px;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: flex;
    justify-content: center;
}

.encabezado {
    background: var(--azul-oscuro);
    width: 100%;
    height: 70px;
}

.encabezado-home {
    background: var(--azul-oscuro);
    width: 100%;
    height: 260px;
}


.menu-layout {
    justify-content: left;
}


.contenedor {
    padding-top: 50px;
}



.titulo-eventos{
    font-weight: 700;
    color: var(--gray);
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 40px;
}
.titulo-car{
    font-weight: 700;
    color: var(--gray);
    font-size: 30px;
    padding-bottom: 10px;
   
}

button.btn.btn-outline-secondary{
    background: white;
    color: black;
}

div#carouselExampleCaptions {
    margin-bottom: 50px;
}

@media (max-width: 1400px) {
    .contenedor {
        max-width: 1320px;
        padding-top: 0px;
    }

}

@media (max-width: 1200px) {
    .contenedor {
        max-width: 1140px;
    }
}

@media (min-width: 991px) {
    .navbar {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width: 991px) {
    .contenedor {
        max-width: 960px;
    }

    .navbar {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    .contenedor {
        max-width: 720px;
    }
}

@media (max-width: 576px) {
    .contenedor {
        max-width: 540px;
    }
}

.cont-title {
    color: white;
    font-family: system-ui;
    padding-top: 40px;
    padding-bottom: 44px;
}

h1.title {
    font-weight: bolder;
    font-size: 4rem;
}

button.nav-home-btn {
    background: transparent;
    margin-right: 20px;
    padding: 5px 20px 5px 20px;
    color: white;
    border-radius: 50px;
    font-size: 19px;
    border: none;
    font-weight: 100;
    align-items: center;
    display: flex;
}

button.nav-home-btn:hover {
    background: #0753c488;
}

button.nav-home-btn.active {
    border: 1px solid white;
    background: #0753c4f1;
}

div#der1, .swiper-button-prev-h {
    position: absolute;
    top: var(--swiper-navigation-top-offset,50%);
    width: calc(var(--swiper-navigation-size)/ 28 * 27);
    height: 40px;
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 20;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray);
    background: white;
    border-radius: 50%;
    font-weight: bold;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

h5.card-title {
    color: black;
    font-weight: 600;
}
p.card-text {
    color: black;
}

div#der1 {
    margin-left: 1px;
}




/*Nav bar*/

.navbar {
    background: var(--azul-oscuro);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom:0.5rem;
}

a.navbar-brand {
    font-weight: 700;
    font-size: 30px;
}

.nav-layout {
    font-size: 30px;
    margin-right: 10px;
}

button.btn-header {
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    background: white;
    border: 1px solid var(--azul-claro);
    color: var(--azul-claro);
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
}

div#navbarsExample05 {
    justify-content: end;
}

/*REGISTRO Y LOGIN*/

.formGRANDE {
    text-align: -webkit-center;
}

.formm {
    margin-top: 50px;
    padding: 30px;
    height: 100%;
    width: 420px;
    background: #eceef1;
    border-radius: 10px;
}

<<<<<<< HEAD
.input-group {
    width: 350px;
}

form h2 {
    margin-bottom: 20px;
    font-weight: 700;
    color: var(--azul-oscuro);
}

form input {
    padding: 15px;
    margin-bottom: 10px;
}

form .btn {
    background-color: var(--azul-oscuro);
    padding: 10px;
    color: var(--blanco);
    width: 100%;
}

form a {
    color: var(--azul-claro);
    text-align: left;
    text-decoration: none;
}

/*FOOTER*/

div#redesS {
    color: var(--blanco);
}

footer.text-center.text-lg-start.text-muted.sticky-bottom {
    margin-bottom: -100px;
    margin-top: 80px;
}

footer {
    background-color: var(--azul-oscuro);
}

div#redesS\ barra {
    background-color: var(--azul-claro);
    color: var(--blanco);
}

.footer-a {
    text-decoration: none;
}

#redesS a i {
    text-decoration: none;
}